/* Global styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Contemporary font */
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9; /* Background color */
}

.header {
    background-color: #68c3d4; /* Summer sky */
    color: #fff; /* White text */
    padding: 1em;
    text-align: center;
}

.welcome, .introduction, .content {
    margin: 20px;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #f0f0f0; /* Field */
    color: #333; /* Dark text */
}

/* Profile section styles */
.profile-container {
    display: flex;
    align-items: center;
}

.profile-thumbnail {
    max-width: 100px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%; /* Makes the image round */
    margin-right: 20px; /* Space between image and details */
    border: 3px solid #f9d4b9; /* Warm peach */
}

.profile-details {
    flex-grow: 1; /* Allow details to expand and take remaining space */
}

.profile-details h3 {
    margin: 0; /* Remove default margin */
}

/* Hobby section styles */
.hobby {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.hobby-item {
    text-align: center;
    flex-basis: calc(20% - 20px); /* Adjust width of each item */
}

.hobby-item img {
    max-width: 100px; /* Adjust width of hobby images */
    height: auto;
    border-radius: 5px;
    border: 3px solid #68c3d4; /* Summer sky */
}

.hobby-item p {
    margin: 0;
    font-size: 14px;
}