/* Global styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Contemporary font */
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #68c3d4; /* Summer sky */
    color: #fff; /* White text */
}

header {
    background-color: #68c3d4; /* Summer sky */
    color: #fff; /* White text */
    padding: 1em;
    text-align: center;
}

.welcome, .introduction, .content {
    margin: 20px;
    background-color: #68c3d4; /* Summer sky */
    padding: 20px;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #68c3d4; /* Summer sky */
    color: #fff;
}

/* Profile section styles */
.profile-container {
    display: flex;
    align-items: center;
    background-color: #68c3d4; /* Summer sky */
    padding: 10px;
    border-radius: 10px;
}

.profile-thumbnail {
    width: 100px; /* Standard size for all images */
    height: 100px; /* Standard size for all images */
    border-radius: 50%; /* Makes the image round */
    margin-right: 20px; /* Space between image and details */
    border: 3px solid #000; /* Black border */
}

.profile-details {
    flex-grow: 1; /* Allow details to expand and take remaining space */
}

.profile-details h3 {
    margin: 0; /* Remove default margin */
}

/* Hobby section styles */
.hobby {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

.hobby-item {
    text-align: center;
    flex-basis: calc(20% - 20px); /* Adjust width of each item */
    background-color: #68c3d4; /* Summer sky */
    padding: 10px;
    border-radius: 10px;
}

.hobby-item img {
    width: 100px; /* Standard size for all images */
    height: 100px; /* Standard size for all images */
    border-radius: 5px;
    border: 3px solid #000; /* Black border */
    margin-bottom: 10px; /* Space between image and text */
}

.hobby-item p {
    margin: 0;
    font-size: 14px;
}